.commit-countdown-wrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-family: sans-serif;
    margin-top: 50px;
}

.commit-countdown-clock {
    font-size: 48px;
    font-family: 'Orbitron', sans-serif;
    background-color: steelblue;
    color: white;
    border: 3px solid black;
    border-radius: 5px;
    padding: 25px 25px 15px 25px;
    margin: 50px;
    display: flex;
}

.commit-countdown-clock-values, .commit-countdown-clock-unites {
    display: flex;
    flex-direction: column;
}

.commit-countdown-clock-values {
    align-items: flex-end;
    margin-right: 25px;
}

.commit-countdown-clock-until {
    font-size: 24px;
    margin-bottom: 30px;
}

.commit-button {
    color: azure;
    background-color: steelblue;
    border-radius: 5px;
    padding: 10px 15px;
}

body {
    background-color: aliceblue;
}